@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('imagens/fundo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    width: 420px;
    background-color: transparent;
    backdrop-filter: blur(50px);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 15px;
    padding: 30px 40px;
    color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.container h1 {
    text-align: center;
    color: #332562;
    font-size: 35px;
}

.input-box {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 30px 0;
}

.input-box input {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    color: rgb(255, 255, 255);
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: rgba(255, 255, 255, 0.486);
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.remember {
    display: flex;
    justify-content: space-between;
    margin: -15px 0 15px;
}

.remember label input {
    accent-color: rgb(228, 177, 230);
    margin-right: 5px;
}

.remember a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.remember a:hover {
    color: #380e50;
    text-decoration: underline;
    font-weight: 600;
}

.login {
    height: 50px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: rgba(66, 66, 66, 0.952);
    font-weight: 600;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.login:hover {
    background-color: transparent;
    transition: 0.5s;
    color: white;
}

.register {
    font-size: 15px;
    text-align: center;
    margin: 15px 0 5px
}

.register a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.register a:hover {
    color: #380e50;
    text-decoration: underline;
}